@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #8576f344;
}


body {
    /* background: #fff; */
    background-color: #f9fcff;
background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    hyphens: auto;
    -webkit-font-smoothing: antialiased
}